body{
	background-color: yellow;
	font-size: 16px;
	font-family: "oxygen";
	color: #fff;
}
#header-nav{
	background-color: gray;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1{
	color: yellow;
}
#description{
	background-color: gray;
	border:2px solid black;
	padding: 20px;
	height: 1000px;
	width: 100%;
	margin: 25px;
}
section p{
	color: black;
	font-size: 1.5em;
}
h2, h3{
	color:black;
	font-weight: bold;
}
#navbarNav{
	background-color: yellow;
}
	button.navbar-toggler{
	border: 1px solid yellow;
	clear: both;
	margin: 10px;
	float: right;
}
